{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width page-width--narrow">
  <section class="product-block--large product-feature-group">
    <header>
      <h2>{{ section.settings.title }}</h2>
      {{ section.settings.image | image_url: width: 500 | image_tag }}
    </header>

    {% if section.blocks.size > 0 %}
      <div class="product-feature-group-features">

        {% for block in section.blocks %}
          <div class="product-feature-group-feature">
            <figure
              style="
                mask: url({{ block.settings.icon | image_url: width: 50 }}) no-repeat 50% 50%;
                -webkit-mask: url({{ block.settings.icon | image_url: width: 50 }}) no-repeat 50% 50%;
                mask-size: cover;
                -webkit-mask-size: cover;">
            </figure>
            <div>
              <h3>{{ block.settings.title }}</h3>
              {{ block.settings.description }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "t:sections.product-feature-group.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.product-feature-group.settings.title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.product-feature-group.settings.image"
    }

  ],
  "blocks": [
    {
      "name": "t:sections.product-feature-group.blocks.name",
      "type": "feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.product-feature-group.blocks.icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product-feature-group.blocks.title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.product-feature-group.blocks.description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-feature-group.name"
    }
  ]
}
{% endschema %}
