<div class="page-width">
  <section 
    class="product-block--large product-single-feature"
    style="background-color: {{ section.settings.background_color }}">
  
    {% case section.settings.header_type %}
      {% when 'icon' %}

        <header
          class="product-single-feature__header--icon">
          <figure
            style="
              mask: url({{ section.settings.image | image_url: width: 50 }}) no-repeat 50% 50%;
              -webkit-mask: url({{ section.settings.image | image_url: width: 50 }}) no-repeat 50% 50%;
              mask-size: cover;
              -webkit-mask-size: cover;">
          </figure>
          <h2>{{ section.settings.title }}</h2>
        </header>

      {% when 'image '%}

        <header
          class="product-single-feature__header--image"
          style="background-image: url('{{ section.settings.image | image_url: width: 500 }}');">
        </header>
        <h2>{{ section.settings.title }}</h2>

      {% when 'none' %}

        <h2>{{ section.settings.title }}</h2>
      
    {% endcase %}

    {{ section.settings.description }}

  </section>
</div>

{% schema %}
{
  "name": "t:sections.product-single-feature.name",
  "settings": [
    {
      "type": "select",
      "id": "header_type",
      "label": "t:sections.product-single-feature.settings.header_type.label",
      "info": "t:sections.product-single-feature.settings.header_type.info",
      "options": [
        {
          "value": "icon",
          "label": "t:sections.product-single-feature.settings.header_type.icon"
        },
        {
          "value": "image",
          "label": "t:sections.product-single-feature.settings.header_type.image"
        },
        {
          "value": "none",
          "label": "t:sections.product-single-feature.settings.header_type.none"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.product-single-feature.settings.image.label",
      "info": "t:sections.product-single-feature.settings.image.info"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.product-single-feature.settings.color.label",
      "info": "t:sections.product-single-feature.settings.color.info",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.product-single-feature.settings.title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.product-single-feature.settings.description"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-single-feature.name"
    }
  ]
}
{% endschema %}
